@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    height:fit-content;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: sticky;
    top: 0;
}
.logo {
    font-size:25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.right{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;

}
.profile{
    height: 21px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
}
.btn{
    height: auto;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
.cartBtn{
    position: relative;
}
.cartBtn span{
    position: absolute;
    top:1px;
    right:0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    background-color: #FF5F00;
    font-weight: 500;
    padding:0 3px;
    border-radius:100% ;
}

@media screen and (max-width:762px){
    .container{
        padding: 0 10px;
    }
}
